<div class="container">
	<div class="row">
		<h1>Examples</h1>
		<p>
			An oncologist, Karen, is seeing patients in her clinic, and would like background on the patients she is seeing today. Her first patient of the day, Alex. has arrived. She launches her imaging software, and makes a query on Alex using his last name. Her imaging software makes a <b>QIDO query</b> at the study level, to retrieve a list of studies for Alex. She finds the study she would like to view, and launches it. Her imaging software makes a <b>WADO query</b> to download the images for the study. Once downloaded, Karen views the images, and decides to photograph a suspicious lesion. She captures a picture, and uploads it into her imaging software. The imaging software then makes a <b>STOW request</b> to store the image against the imaging repository.
		</p>
		<h3>QIDO Query</h3>
		<p>The Imaging Software constructs a URL as follows:</p>
		<h3>WADO Query</h3>
		<p>The Imaging Software constructs a URL as follows:</p>
		<h3>STOW Query</h3>
		<p>The Imaging Software constructs a URL as follows:</p>
	</div>
</div>
