<div class="container">
	<div class="row">
		<h1>Glossary</h1>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>QIDO-RS</th>
					<td><u>Q</u>uery based on <u>I</u>D for <u>D</u>ICOM <u>O</u>bjects</td>
				</tr>
				<tr>
					<th>STOW-RS</th>
					<td><u>ST</u>ore <u>O</u>ver the <u>W</u>eb</td>
				</tr>
				<tr>
					<th>WADO-RS</th>
					<td><u>W</u>eb <u>A</u>ccess to <u>D</u>ICOM <u>O</u>bjects</td>
				</tr>
				<tr>
					<th>UID</th>
					<td>Unique Identifier</td>
				</tr>
				<tr>
					<th>Study</th>
					<td>An organizational unit representing a set of imaging events, normally related to a single encounter, and consists of a set of series</td>
				</tr>
				<tr>
					<th>Series</th>
					<td>An organizational unit representing a single imaging event, and consists of a set of instances</td>
				</tr>
				<tr>
					<th>Instance</th>
					<td>An organizational unit that typically representing a single image or a set of frames. It may contain a set of frames</td>
				</tr>
				<tr>
					<th>Frame</th>
					<td>An organizational unit typically representing a single image in a multi-frame instance</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

