<div class="container">
	<div class="row">

		<h1>JSON</h1>
		<p>
			Following is an example of DICOM JSON Model, which is not yet an approved part of the DICOM standard. You can find more information about the DICOM 
			JSON Model in the <a href="ftp://medical.nema.org/medical/dicom/supps/PC/sup166_pc.pdf">QIDO supplement</a>.
		</p>
		<pre>
[
{
1116 "SpecificCharacterSet": {
"tag": "00080005",
1118 "vr": "CS",
"value": "ISO_IR192"
1120 },
"StudyDate": {
1122 "tag": "00080020",
"vr": "DT",
1124 "value": "20130409"
},
1126 "StudyTime": {
"tag": "00080030",
1128 "vr": "TM",
"value": "131600.0000"
1130 },
"AccessionNumber": {Supplement XXX WADO by means of RESTful Services
Page 38
1132 "tag": "00080050",
"vr": "CS",
1134 "value": "11235813"
},
1136 "InstanceAvailability": {
"tag": "00080056",
1138 "vr": "CS",
"value": "ONLINE"
1140 },
"ModalitiesInStudy": {
1142 "tag": "00080061",
"vr": "CS",
1144 "value": [
"CT",
1146 "PET"
]
1148 },
"ReferringPhysiciansName": {
1150 "tag": "00080090",
"vr": "PN",
1152 "value": "Dr. Bob"
},
1154 "PatientName": {
"tag": "00100010",
1156 "vr": "PN",
"personName": {
1158 "alphabeticName" = "Wang^XiaoDong",
"ideographicName" = "王^小東"
1160 }
},Supplement XXX WADO by means of RESTful Services
Page 39
1162 "PatientID": {
"tag": "00100020",
1164 "vr": "CS",
"value": "12345"
1166 },
"IssuerOfPatientID": {
1168 "tag": "00100021",
"vr": "CS",
1170 "value": "HospitalA"
},
1172 "PatientsBirthDate": {
"tag": "00100030",
1174 "vr": "DT",
"value": "19670701"
1176 },
"PatientsSex": {
1178 "tag": "00100040",
"vr": "CS",
1180 "value": "MALE"
},
1182 "OtherPatientIDsSequence": {
"tag": "00101002",
1184 "vr": "SQ",
"sequence": [
1186 {
"PatientID": {
1188 "tag": "00100020",
"vr": "CS",
1190 "value": "54321"
},Supplement XXX WADO by means of RESTful Services
Page 40
1192 "IssuerOfPatientID": {
"tag": "00100021",
1194 "vr": "CS",
"value": "HospitalB"
1196 }
},
1198 {
"PatientID": {
1200 "tag": "00100020",
"vr": "CS",
1202 "value": "24680"
},
1204 "IssuerOfPatientID": {
"tag": "00100021",
1206 "vr": "CS",
"value": "HospitalC"
1208 }
}
1210 ]
},
1212 "StudyID": {
"tag": "00200010",
1214 "vr": "SH",
"value": "11235813"
1216 },
"StudyInstanceUID": {
1218 "tag": "0020000D",
"vr": "UI",
1220 "value": "1.2.392.200036.9116.2.2.2.1762893313.1029997326.945873"
},Supplement XXX WADO by means of RESTful Services
Page 41
1222 "NumberOfStudyRelatedSeries": {
"tag": "00201206",
1224 "vr": "IS",
"value": "4"
1226 },
"NumberOfStudyRelatedInstances": {
1228 "tag": "00201208",
"vr": "IS",
1230 "value": "942"
},
1232 "RetrieveURL": {
"tag": "0040XXXX",
1234 "vr": "UT",
"value": 
1236 "http://wado.nema.org/studies/.2.392.200036.9116.2.2.2.1762893313.1029997326.9
45873"
1238 }
},
1240 {
"SpecificCharacterSet": {
1242 "tag": "00080005",
"vr": "CS",
1244 "value": "ISO_IR192"
},
1246 "StudyDate": {
"tag": "00080020",
1248 "vr": "DT",
"value": "20130309"
1250 },
"StudyTime": {
1252 "tag": "00080030",Supplement XXX WADO by means of RESTful Services
Page 42
"vr": "TM",
1254 "value": "111900.0000"
},
1256 "AccessionNumber": {
"tag": "00080050",
1258 "vr": "CS",
"value": "11235821"
1260 },
"InstanceAvailability": {
1262 "tag": "00080056",
"vr": "CS",
1264 "value": "ONLINE"
},
1266 "ModalitiesInStudy": {
"tag": "00080061",
1268 "vr": "CS",
"value": [
1270 "CT",
"PET"
1272 ]
},
1274 "ReferringPhysiciansName": {
"tag": "00080090",
1276 "vr": "PN",
"value": "Dr.Bob"
1278 },
"PatientName": {
1280 "tag": "00100010",
"vr": "PN",
1282 "personName": {Supplement XXX WADO by means of RESTful Services
Page 43
"alphabeticName" = "Wang^XiaoDong",
1284 "ideographicName" = "王^小東"
}
1286 },
"PatientID": {
1288 "tag": "00100020",
"vr": "CS",
1290 "value": "12345"
},
1292 "IssuerOfPatientID": {
"tag": "00100021",
1294 "vr": "CS",
"value": "HospitalA"
1296 },
"PatientsBirthDate": {
1298 "tag": "00100030",
"vr": "DT",
1300 "value": "19670701"
},
1302 "PatientsSex": {
"tag": "00100040",
1304 "vr": "CS",
"value": "MALE"
1306 },
"OtherPatientIDsSequence": {
1308 "tag": "00101002",
"vr": "SQ",
1310 "sequence": [
{
1312 "PatientID": {Supplement XXX WADO by means of RESTful Services
Page 44
"tag": "00100020",
1314 "vr": "CS",
"value": "54321"
1316 },
"IssuerOfPatientID": {
1318 "tag": "00100021",
"vr": "CS",
1320 "value": "HospitalB"
}
1322 },
{
1324 "PatientID": {
"tag": "00100020",
1326 "vr": "CS",
"value": "24680"
1328 },
"IssuerOfPatientID": {
1330 "tag": "00100021",
"vr": "CS",
1332 "value": "HospitalC"
}
1334 }
]
1336 },
"StudyID": {
1338 "tag": "00200010",
"vr": "SH",
1340 "value": "11235821"
},
1342 "StudyInstanceUID": {Supplement XXX WADO by means of RESTful Services
Page 45
"tag": "0020000D",
1344 "vr": "UI",
"value": "1.2.392.200036.9116.2.2.2.2162893313.1029997326.945873"
1346 },
"NumberOfStudyRelatedSeries": {
1348 "tag": "00201206",
"vr": "IS",
1350 "value": "5"
},
1352 "NumberOfStudyRelatedInstances": {
"tag": "00201208",
1354 "vr": "IS",
"value": "1123"
1356 },
"RetrieveURL": {
1358 "tag": "0040XXXX",
"vr": "UT",
1360 "value": 
"http://wado.nema.org/studies/.2.392.200036.9116.2.2.2.2162893313.1029997326.9
1362 45873"
}
1364 }
]
		</pre>
	</div>
</div>