<div class="container">
	<div class="row">
		<h1>References</h1>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th><a href="ftp://medical.nema.org/medical/dicom/Supps/LB/sup166_lb.pdf">QIDO-RS Supplement</a></th>
					<td><u>Q</u>uery based on <u>I</u>D for <u>D</u>ICOM <u>O</u>bjects (JSON defined here)</td>
				</tr>
				<tr>
					<th><a href="ftp://medical.nema.org/medical/dicom/final/sup161_ft.pdf">WADO-RS Supplement</a></th>
					<td><u>W</u>eb <u>A</u>ccess to <u>D</u>ICOM <u>O</u>bjects</td>
				</tr>
				<tr>
					<th><a href="ftp://medical.nema.org/medical/dicom/Final/sup163_ft3.pdf">STOW-RS Supplement</a></th>
					<td><u>ST</u>ore <u>O</u>ver the <u>W</u>eb</td>
				</tr>
				<tr>
					<th><a href="http://medical.nema.org/Dicom/2011/11_04pu.pdf">DICOM Part 4</a></th>
					<td>Service Class Specification</td>
				</tr>
				<tr>
					<th><a href="http://medical.nema.org/Dicom/2011/11_05pu.pdf">DICOM Part 5</a></th>
					<td>Data Structures and Encoding</td>
				</tr>
				<tr>
					<th><a href="http://medical.nema.org/Dicom/2011/11_06pu.pdf">DICOM Part 6</a></th>
					<td>Data Dictionary</td>
				</tr>
				<tr>
					<th><a href="http://medical.nema.org/Dicom/2011/11_18pu.pdf">DICOM Part 18</a></th>
					<td>Web Access to DICOM Persistent Objects (WADO)</td>
				</tr>
				<tr>
					<th><a href="http://medical.nema.org/Dicom/2011/11_19pu.pdf">DICOM Part 19</a></th>
					<td>Application Hosting (XML defined here)</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

