<div class="container">
	<div class="row">

		<h1>Store</h1>

		<p>
			<u>ST</u>ore <u>O</u>ver the <u>W</u>eb (STOW) enables you to store specific instances to the server. 
			STOW is currently part of the DICOM standard. The specification, as written, can be found
			<a href="ftp://medical.nema.org/medical/dicom/Final/sup163_ft3.pdf" target="_blank">here</a>.
		</p>
		<h3>Methods</h3>
		<p>Following are a list of methods accepted by a STOW service. Click on a method for further detail.</p>

		<!-- STORESTUDY -->
		<div class="restpost restoperation">
			<div class="restheading">
				<h3>
					<span class="resthttp_method">post</span>
					<span class="restpath">/studies/{StUID}</span>
				</h3>
				<ul class="restoptions">
					<li>Stores a set of instances</li>
				</ul>
			</div>
			<div class="restcontent">
				<h4>Parameters</h4>
				<table class="resttable">
					<thead>
						<tr>
							<th>Parameter</th>
							<th>Description</th>
							<th>Data Type</th>
						</tr>
					</thead>
					<tbody class="operation-params">
						<tr>
							<td class="code required">{StUID}</td>
							<td>The study instance UID to retrieve instances from.</td>
							<td>UID</td>
						</tr>
					</tbody>
				</table>

				<h4>Headers</h4>
				<table class="resttable">
					<thead>
						<tr>
							<th>Header</th>
							<th>Description</th>
							<th>Accepted Values</th>
						</tr>
					</thead>
					<tbody class="operation-params">
						<tr>
							<td class="code required">Accept</td>
							<td>The representation scheme being posted to the RESTful service.</td>
							<td>
								multipart/related; type=application/dicom; boundary={messageBoundary}<br />
								multipart/related; type=application/dicom+xml;  boundary={messageBoundary}
							</td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>

		<!-- STORESTUDIES -->
		<div class="restpost restoperation">
			<div class="restheading">
				<h3>
					<span class="resthttp_method">post</span>
					<span class="restpath">/studies/</span>
				</h3>
				<ul class="restoptions">
					<li>Stores a set of instances</li>
				</ul>
			</div>
			<div class="restcontent">
				<h4>Parameters</h4>
				<table class="resttable">
					<thead>
						<tr>
							<th>Parameter</th>
							<th>Description</th>
							<th>Data Type</th>
						</tr>
					</thead>
					<tbody class="operation-params">
						<tr>
							<td colspan="3">None</td>
						</tr>
					</tbody>
				</table>

				<h4>Headers</h4>
				<table class="resttable">
					<thead>
						<tr>
							<th>Header</th>
							<th>Description</th>
							<th>Accepted Values</th>
						</tr>
					</thead>
					<tbody class="operation-params">
						<tr>
							<td class="code required">Accept</td>
							<td>The representation scheme being posted to the RESTful service.</td>
							<td>
								multipart/related; type=application/dicom; boundary={messageBoundary}<br />
								multipart/related; type=application/dicom+xml;  boundary={messageBoundary}
							</td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>

	</div>
</div>