<div class="container">
	<div class="row">

		<h1>XML</h1>
		<p>
			Following is an example of DICOM Native Model, in XML representation. You can find more information about DICOM 
			Native Model in <a href="ftp://medical.nema.org/medical/dicom/2011/11_18pu.pdf" target="_blank">PS 3.18</a>.
		</p>
		<pre>
<?xml version="1.0" encoding="UTF-8"?>
<NativeDicomModel xmlns="http://dicom.nema.org/PS3.19/models/NativeDICOM" 
772 xsi:schemaLocation="http://dicom.nema.org/PS3.19/models/NativeDICOM
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
774
<DicomAttribute tag="00081198" vr="SQ" keyword="FailedSOPSequence">
776 <Item number="1">
<DicomAttribute tag="00081150" vr="UI" keyword="ReferencedSOPClassUID">
778 <Value number="1">1.2.840.10008.3.1.2.3.1</Value>
</DicomAttribute>
780 <DicomAttribute tag="00081155" vr="UI" keyword="ReferencedSOPInstanceUID">Supplement 163: STore Over the Web by REpresentational State Transfer (REST) Services (STOW-RS)
Page 25
<Value number="1">2.16.124.113543.6003.1011758472.49886.19426.2085542308</Value>
782 </DicomAttribute>
<DicomAttribute tag="00081197" vr="US" keyword="FailureReason">
784 <Value number="1">290</Value>
</DicomAttribute>
786 </Item>
<Item number="2">
788 <DicomAttribute tag="00081150" vr="UI" keyword="ReferencedSOPClassUID">
<Value number="1">1.2.840.10008.3.1.2.3.1</Value>
790 </DicomAttribute>
<DicomAttribute tag="00081155" vr="UI" keyword="ReferencedSOPInstanceUID">
792 <Value number="1">2.16.124.113543.6003.1011758472.49886.19426.2085542309</Value>
</DicomAttribute>
794 <DicomAttribute tag="00081197" vr="US" keyword="FailureReason">
<Value number="1">290</Value>
796 </DicomAttribute>
</Item>
798 </DicomAttribute>
800 <DicomAttribute tag="00081199" vr="SQ" keyword="ReferencedSOPSequence">
<Item number="1">
802 <DicomAttribute tag="00081150" vr="UI" keyword="ReferencedSOPClassUID">
<Value number="1">1.2.840.10008.5.1.4.1.1.2</Value>
804 </DicomAttribute>
<DicomAttribute tag="00081155" vr="UI" keyword="ReferencedSOPInstanceUID">
806 <Value number="1">2.16.124.113543.6003.189642796.63084.16748.2599092903</Value>
</DicomAttribute>
808 <DicomAttribute tag="00081190" vr="UT" keyword="RetrieveURL">
<Value 
810 number="1">https://wadors.hospital.com/studies/2.16.124.113543.6003.1154777499.30246.19789.3503
430045/series/2.16.124.113543.6003.2588828330.45298.17418.2723805630/instances/2.16.124.113543.
812 6003.189642796.63084.16748.2599092903</Value>
</DicomAttribute>
814 </Item>
<Item number="2">
816 <DicomAttribute tag="00081150" vr="UI" keyword="ReferencedSOPClassUID">
<Value number="1">1.2.840.10008.5.1.4.1.1.2</Value>
818 </DicomAttribute>
<DicomAttribute tag="00081155" vr="UI" keyword="ReferencedSOPInstanceUID">
820 <Value number="1">2.16.124.113543.6003.189642796.63084.16748.2599092905</Value>
</DicomAttribute>
822 <DicomAttribute tag="00081196" vr="US" keyword="WarningReason">
<Value number="1">45056</Value>
824 </DicomAttribute> 
<DicomAttribute tag="00081190" vr="UT" keyword="RetrieveURL">
826 <Value 
number="1">https://wadors.hospital.com/studies/2.16.124.113543.6003.1154777499.30246.19789.3503
828 430045/series/2.16.124.113543.6003.2588828330.45298.17418.2723805630/instances/2.16.124.113543.
6003.189642796.63084.16748.2599092905</Value>
830 </DicomAttribute>
</Item>
832 </DicomAttribute>
834 <DicomAttribute tag="00081190" vr="UT" keyword="RetrieveURL">
<Value 
836 number="1">https://wadors.hospital.com/studies/2.16.124.113543.6003.1154777499.30246.19789.3503
430045</Value>
838 </DicomAttribute>
840 </NativeDicomModel>
		</pre>
	</div>
</div>