<div class="container">
	<div class="row">

		<h1>XML</h1>
		<p>
			Following is an example of DICOM Native Model, in XML representation. You can find more information about DICOM 
			Native Model in <a href="ftp://medical.nema.org/medical/dicom/2011/11_18pu.pdf" target="_blank">PS 3.18</a>.
		</p>
		<pre>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;NativeDicomModel&gt;
	&lt;DicomAttribute Tag="00080020" VR="DT" Keyword="StudyDate"&gt;
		&lt;Value number="1"&gt;20130409&lt;/value&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00080030" VR="TM" Keyword="StudyTime"&gt;
		&lt;Value number="1"&gt;131600.0000&lt;/value&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00080050" VR="CS" Keyword="AccessionNumber"&gt;
		&lt;Value number="1"&gt;11235813&lt;/value&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00080056" VR="CS" Keyword="InstanceAvailability"&gt;
		&lt;Value number="1"ONLINE&lt;/value&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00080061" VR="CS" Keyword="ModalitiesInStudy"&gt;
		&lt;Value number="1"&gt;CT&lt;/value&gt;
		&lt;Value number="2"&gt;PET&lt;/value&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00080090" VR="PN" Keyword="ReferringPhysiciansName"&gt;
		&lt;PersonName number="1"&gt;
			&lt;SingleByte&gt;
				&lt;FamilyName&gt;B&lt;/FamilyName&gt; 
				&lt;GivenName&gt;Smith&lt;/GivenName&gt;
			&lt;/SingleByte&gt;
		&lt;/PersonName&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00100010" VR="PN" Keyword="PatientName"&gt;
		&lt;PersonName number="1"&gt;
			&lt;SingleByte&gt;
				&lt;FamilyName&gt;Wang&lt;/FamilyName&gt; 
				&lt;GivenName&gt;XiaoDong&lt;/GivenName&gt;
				&lt;MiddleName&gt;SB3&lt;/MiddleName&gt;
				&lt;NamePrefix&gt;SB4&lt;/NamePrefix&gt;
				&lt;NameSuffix&gt;SB5&lt;/NameSuffix&gt;
			&lt;/SingleByte&gt;
			&lt;Ideographic&gt;
				&lt;FamilyName&gt;王^小東&lt;/FamilyName&gt; 
			&lt;/Ideographic&gt;
		&lt;/PersonName&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00100020" VR="CS" Keyword="PatientID"&gt;
		&lt;Value number="1"&gt;12345&lt;/value&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00100021" VR="CS" Keyword="IssuerOfPatientID"&gt;
		&lt;Value number="1"&gt;HospitalA&lt;/value&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00100030" VR="DT" Keyword="PatientsBirthDate"&gt;
		&lt;Value number="1"&gt;19670701&lt;/value&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00100040" VR="CS" Keyword="PatientsSex"&gt;
		&lt;Value number="1"&gt;MALE&lt;/value&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="00200010" VR="SH" Keyword="StudyID"&gt;
		&lt;Value number="1"&gt;11235813&lt;/value&gt;
	&lt;/DicomAttribute&gt;
	&lt;DicomAttribute Tag="0020000D" VR="UI" Keyword="StudyInstanceUID"&gt;
		&lt;Value number="1"&gt;1.2.392.200036.9116.2.2.2.1762893313.1029997326.945873&lt;/value&gt;
	&lt;/DicomAttribute&gt;
&lt;/NativeDicomModel&gt;
		</pre>
	</div>
</div>